/*===================================================== hader===================================================== */

/* nav */

:root{    
    --primaru-brand-color:#4D5AE5;   
    
    --pressed-state-color:#404BBF;
--dark-color:#2E2F42;
--text-color:#434455;
--text-footer-color: #E7E9FC;
--subtle-text-color: #FFFFFF

}
 




    .link{ text-decoration: none;}


  .list {
      list-style: none;
  }
     .text{
    font-family: 'Roboto', 'sens-serif';
       font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  color:var(--text-color);}

.logo-left{
font-family: 'Raleway', 'sens-serif';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
     letter-spacing: 0.03em;
    color: var(--pressed-state-color);
}
.logo-right{font-family: 'Raleway', 'sens-serif';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
color: var(--dark-color); }
 
  
.menu-link{font-family: 'Roboto', 'sens-serif';
     font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--dark-color)}

.menu-link:active,
.menu-link:hover,
.menu-link:focus{    
color: var(--pressed-state-color) ;
}



/* =====================================================adress===================================================== */


.contact-mail{font-family: 'Roboto','sens-serif';
font-style: normal;
            font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--text-color);}

.contact-phone-number{
        font-family: 'Roboto', 'sens-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--text-color);
    }
/*===================================================== section 1 hero =====================================================*/

.main-title{
    font-family: 'Roboto', 'sens-serif';
   
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1; 
               letter-spacing: 0.02em;
            color: var(--subtle-text-color);
}
.modal-btn{
    font-family: 'Roboto','sens-serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    background-color:var(--primaru-brand-color); 
    
       }

.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--pressed-state-color);
}

/* =====================================================section 2 =====================================================*/

.title-secondaru{font-family: 'Roboto', 'sens-serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
      color:var(--dark-color);}
 
.title-third{
        font-family: 'Roboto', 'sens-serif';
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
       color:var(--dark-color);}
    
    /* =====================================================footer =====================================================*/
    
    .text-footer{
        font-family: 'Roboto', 'sens-serif';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
     color: var(--text-footer-color);}
     .logo-right-footer{
        color: var(--subtle-text-color)
     }


             


   /*===================================================== page portfolio===================================================== */
   .struktur-link {font-family: 'Roboto', 'sens-serif';
      font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
       letter-spacing: 0.04em;
     color:var(--primaru-brand-color);}
     
       
     .struktur-link:hover,
     .struktur-link:focus{
        color: var(--subtle-text-color);
        background-color: var(--pressed-state-color);
     }



  

   .title-two{
    font-family: 'Roboto', 'sens-serif';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}