/*===================================================== hader===================================================== */

/* nav */

:root{ 
    --accent-color: #404BBF;
    --secondary-color:#2E2F42;


.list{ list-style: none;}
.link{ text-decoration: none;}
.text{
    font-family: 'Roboto';
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  color: #434455;}

.logo-left{
font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
     letter-spacing: 0.03em;
    color: #4D5AE5;
}
 
  
.menu-link{font-family: 'Roboto', sens-serif;
     font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.menu-link:hover,
.menu-link:focus{    
color: #404BBF;
}



/* =====================================================adress===================================================== */


.contact-mailv{font-family: 'Roboto';
            font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}

.contact-phone-number{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
/*===================================================== section 1 hero =====================================================*/

.main-title{
    font-family: 'Roboto';
   
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1; 
        text-align: center;
        letter-spacing: 0.02em;
            color: #FFFFFF;
}
.modal-btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5; 
    cursor: pointer;
       }

.modal-btn:hover,
.modal-btn:focus{
    background-color: #404BBF;
}

/* =====================================================section 2 =====================================================*/

.title-secondaru{font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
      color: #2E2F42;}

.title-third{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
       color: #2E2F42;
}

   /*===================================================== page portfolio===================================================== */
   .struktur{font-family: 'Roboto';
      font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
       letter-spacing: 0.04em;
     color: #4D5AE5;}
   .btn-portfolio:hover,
   .btn-portfolio:focus
   {color: #FFFFFF;
   }
   .title-two{
    font-family: 'Roboto';
       font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
     letter-spacing: 0.02em;
  color: #2E2F42;
}